.app {
  margin: 0 auto;
  width: 460px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
}
.btn-group {
  margin-left: 14px;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.mb-3 {
  margin-top: 8px;
}
